@mixin flex ($display, $dir, $align, $justify, $wrap, $content,$row-gap, $col-gap) {
    display: $display;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    align-content: $content;
    gap: $row-gap $col-gap;
}

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}