// ============> Fonts
$font-montserrat:  'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-inter: 'Inter', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-manrope: 'Manrope', sans-serif;

// ===========> Colours
$color-black:#000;
$color-black-light:#0F001A;
$color-black-extra-light:#504A41;

$color-red: #fc0b0d;
$color-red-light: #EB3223;
$color-red-extra-light: #F12B2C;

$color-blue: #004B84;
$color-blue-light: #4A99D3;
$color-blue-extra-light: #EAF6FF;

$color-white: #ffffff;

$color-gray: #E5E5E5;
$color-gray-light: #FAFAFA;