@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.header {
  height: 124px;
  background-image: linear-gradient(rgba(252, 11, 13, 0.2) 17%, rgba(74, 153, 211, 0) 70%, rgba(255, 255, 255, 0.2) 3%);
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.05);
}
.header__container {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-between;
  flex-wrap: initial;
  align-content: initial;
  gap: initial initial;
  max-width: 1075px;
  height: 100%;
  margin: 0 auto;
}
.header__logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #4A99D3;
  text-transform: capitalize;
}
.header__nav {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-between;
  flex-wrap: initial;
  align-content: initial;
  gap: 0 70px;
}
.header__links {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #0F001A;
  text-transform: capitalize;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-between;
  flex-wrap: initial;
  align-content: initial;
  gap: 0 7px;
}
.header__links::before {
  width: 57px;
  height: 44px;
}
.header__links--login::before {
  content: url(../../images/user_icon.svg);
}
.header__links--sell::before {
  content: url(../../images/add_icon.svg);
}

.hero__container {
  height: 365px;
  background-color: #EAF6FF;
  padding: 63px 88px 0 96px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: initial;
  align-content: initial;
  gap: initial initial;
}
.hero__offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: initial;
  flex-wrap: initial;
  align-content: initial;
  gap: 30px 0;
}
.hero__offer-heading {
  max-width: 500px;
  font-size: 33px;
  font-weight: 400;
  line-height: 40px;
  color: #000;
  text-align: center;
}
.hero__offer-form {
  width: 575px;
  height: 69px;
  border: 2px solid #fc0b0d;
  border-radius: 20px;
  position: relative;
}
.hero__offer-form--input {
  background-color: transparent;
  border-radius: 20px;
  padding: 0 30px 0 110px;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  line-height: 19px;
  font-weight: 400;
  font-size: 16px;
  color: #004B84;
}
.hero__offer-form--input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  line-height: 19px;
  font-size: 16px;
  font-weight: 400;
  color: #004B84;
}
.hero__offer-form--input::placeholder {
  font-family: "Inter", sans-serif;
  line-height: 19px;
  font-size: 16px;
  font-weight: 400;
  color: #004B84;
}
.hero__offer-form::before {
  content: url(../../images/search_more.png);
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 66.09px;
  height: 30.21px;
  cursor: pointer;
}
.hero__offer-form::after {
  content: url(../../images/sliders_icon.svg);
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 34.7px;
  height: 32.1px;
  cursor: pointer;
}
.hero__img {
  max-width: 436px;
  width: 100%;
}

.container {
  max-width: 1297px;
  margin: 0 auto;
}

.services {
  padding-top: 90px;
}
.services__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: initial;
  align-content: initial;
  gap: 0 0;
}
.services__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: initial;
  align-content: initial;
  gap: 30px 0;
  width: 626px;
  background: #FAFAFA;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px;
}
.services__card-text-content {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: initial;
  flex-wrap: initial;
  align-content: initial;
  gap: 0 0;
}
.services__card-text-content--heading {
  font-weight: 600;
  font-size: 29.65px;
  line-height: 36px;
  color: #000;
  text-transform: capitalize;
}
.services__card-text-content--desc {
  margin: 30px 0 20px;
  font-weight: 300;
  font-size: 20.65px;
  line-height: 25px;
  color: #000;
}
.services__card--btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: initial;
  align-content: initial;
  gap: 0 0;
  width: 153px;
  height: 48px;
  background: #fc0b0d;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20.65px;
  line-height: 25px;
  color: #000;
  text-transform: capitalize;
}
.services__card-image-content {
  width: 45%;
}

.products {
  padding: 137px 0 82px;
}
.products__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: initial;
  gap: 80px 0;
}
.products__card {
  width: 308px;
  height: 368px;
  background: #ffffff;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.25);
}
.products__card--img {
  width: 100%;
}
.products__card--text-content {
  padding: 5px 15px;
}
.products__card--text-content-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  text-transform: capitalize;
}
.products__card--text-content-number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: initial;
  align-content: initial;
  gap: 0 0;
  margin: 7px 0 8px;
  padding-right: 10px;
}
.products__card--text-content-number .number {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #EB3223;
}
.products__card--text-content-number .condition {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 9px;
  line-height: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  width: 40px;
  height: 16px;
  background: #F12B2C;
  border-radius: 4px;
  text-align: center;
}
.products__card--text-content-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: initial;
  align-content: initial;
  gap: 0 0;
}
.products__card--text-content-desc .desc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  opacity: 0.5;
}
.products__card--text-content-desc .date {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */